<div class="form-group" [formGroup]="form">
  <label
    [attr.for]="question.key"
    class="control-label col-sm-6"
    *ngIf="isValid == true && question.controlType != 'checkbox'"
  >
    {{ question.label }}</label
  >
  <label
    [attr.for]="question.key"
    style="color: red;"
    *ngIf="!isValid && !question.disabled"
    class="control-label col-sm-6"
  >
    {{ question.label }}*</label
  >

  <div class="col-sm-12" [ngSwitch]="question.controlType">
    <div class="input-group mb-3" *ngSwitchCase="'textbox'">
      <div *ngIf="question.prefix != null" class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">{{
          question.prefix
        }}</span>
      </div>
      <input
        class="form-control"
        [formControlName]="question.key"
        [id]="question.key"
        [type]="question.type"
      />
      <div *ngIf="question.suffix != null" class="input-group-append">
        <span class="input-group-text" id="basic-addon2">{{
          question.suffix
        }}</span>
      </div>
    </div>

    <div
      class="form-check"
      [ngClass]="{ 'form-check-inline': question.inline }"
      *ngSwitchCase="'checkbox'"
    >
      <label class="form-check-label">
        <input
          class="form-check-input"
          [formControlName]="question.key"
          type="checkbox"
        />
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
        {{ question.label }}
      </label>
    </div>

    <div *ngSwitchCase="'filebox'">
      <div class="col-sm-12 p-2" *ngIf="question.value">
        <img [src]="preview || question.value" height="100" />
      </div>
      <div class="custom-file">
        <input
          (change)="uploadDocument($event, question.key)"
          type="file"
          class="custom-file-input"
          [id]="question.key"
          lang="in"
          [accept]="question.fileType"
        />
        <label class="custom-file-label" [for]="question.key">
          {{filename || question.value?.substr(question.value.lastIndexOf('/')+1, question.value.length)}}</label>
      </div>
    </div>

    <!-- <div class="custom-file" *ngSwitchCase="'filebox'">
        <input [type]="question.type" [formControlName]="question.key" (change)="onFileSelected()" class="custom-file-input" [id]="question.key" lang="in" multiple accept='image/*'>
        <label class="custom-file-label" [for]="question.key">{{question.value}}</label>
      </div> -->

    <select
      class="form-control"
      [id]="question.key"
      *ngSwitchCase="'future-dropdown'"
      [formControlName]="question.key"
    >
      <ng-container *ngIf="!question.loading">
        <option
          *ngFor="let opt of question.options; let i = index"
          [value]="opt.key"
          >{{ opt.value }}</option
        >
      </ng-container>
    </select>

    <div *ngSwitchCase="'datalisted'">
      <input
        class="form-control"
        [id]="question.key"
        [formControlName]="question.key"
        [type]="question.type"
        list="cityname"
      />
      <datalist id="cityname">
        <option
          *ngFor="let opt of question.options; let i = index"
          [value]="opt.value"
        >
        </option>
      </datalist>
    </div>

    <div *ngSwitchCase="'future-datalisted'">
      <input
        class="form-control"
        [id]="question.key"
        [formControlName]="question.key"
        [type]="question.type"
        list="cityname"
      />
      <datalist id="cityname">
        <ng-container *ngIf="!question.loading">
          <option
            *ngFor="let opt of question.options; let i = index"
            [value]="opt.value"
          >
          </option
        ></ng-container>
      </datalist>
    </div>

    <select
      class="form-control"
      [id]="question.key"
      *ngSwitchCase="'dropdown'"
      (change)="changeValue($event, question.key)"
      [formControlName]="question.key"
    >
      <option
        *ngFor="let opt of question.options; let i = index"
        [value]="opt.key"
        >{{ opt.value }}</option
      >
    </select>

    <textarea
      class="form-control"
      [formControlName]="question.key"
      [id]="question.key"
      *ngSwitchCase="'textarea'"
    ></textarea>
  </div>
  <ng-container *ngIf="question.form.value == true">
    <app-question
      *ngFor="let question of question.questions"
      [form]="form"
      [question]="question"
    ></app-question>
  </ng-container>
  <!-- <div class="errorMessage ml-3" style="color: red;" *ngIf="!isValid && !question.disabled"><small>*{{question.label}} is required</small></div> -->
</div>

<!-- 
      Copyright Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license
      -->
