<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> {{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div *ngFor="let question of questions" class="form-row">
                    <app-question class="full-width" [question]="question" [form]="form"></app-question>
                </div>

                <div class="form-row">
                    <button class="btn btn-success" type="submit" [disabled]="!form.valid">
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
        <div *ngIf="message != ''" class="modal-footer" [ngClass]="{'mod-success': isSuccess, 'mod-error': isError}">
            <div class="form-row" [innerHTML]="message"></div>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
    </div>
</div>