.mod-success {
    justify-content: start;
    background-color: rgb(23, 192, 23);
    color: white;
}

.mod-error {
    justify-content: start;
    background-color: rgb(255, 0, 0);
    color: white;
}